/*Variables*/

:root{
    --main-color: #ff7ebe;
    --secundary-color: #FF53C2;
}

/*FONTS*/

@font-face {
    font-family: roboto_thin;
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: roboto_thin_italic;
    src: url("../fonts/Roboto-ThinItalic.ttf");
}

@font-face {
    font-family: roboto_light;
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: roboto_light_italic;
    src: url("../fonts/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: roboto_regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto_regular_italic;
    src: url("../fonts/Roboto-Italic.ttf");
}


@font-face {
    font-family: roboto_bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: roboto_bold_italic;
    src: url("../fonts/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: roboto_black;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: roboto_black_italic;
    src: url("../fonts/Roboto-BlackItalic.ttf");
}

*{
    padding: 0;
    margin: 0;
}

p{
    font-family: roboto_regular;
}

a{
    font-family: roboto_bold;
}

footer{
    height: 50px;
}

/**CLASSES**/
.mb-50{
    margin-bottom: 3.125rem;
}

.ml-6{

}

.main-color{
    color: var(--main-color);
}

.bg-main-color{
    background-color: var(--main-color);
}

.custom-nav-link{
    padding: .5rem 1rem;
    display: block;
    font-weight: 1200;
    color: #000000;
    border-bottom: 2px solid transparent;
}

.pagination-link{
    color: #1d2124;
}

.pagination-link:hover{
    color: #000000;
}

.active-pagination-link{
    color: #000000;
    text-decoration: underline;
}

/**END CLASSES**/

/**HEADER**/

#horizontalImg{
    height: 5rem;
}

#searchButton{
    background-color: var(--main-color) ;
}

#searchButton:hover{
    background-color: var(--secundary-color);
}

.i-hover i:hover{
    color: var(--secundary-color) ;
}

.navbar{
   min-height: 4.6875rem
}

.dropdown-menu{
    background-color: var(--main-color);
    border: none;
}

.dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus{
    background:none;
}


.sub-dropdown-menu{
    position: relative;
    width: auto;
}

.dropdown-toggle .dropdown-item{
    background-color: var(--main-color);
}

.sub-dropdown-menu a:after{
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em
}

.sub-dropdown-menu .dropdown-menu{
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.sub-dropdown:active .sub-dropdown-menu{
    visibility: visible;
}




.custom-nav-link:hover, .custom-nav-link:active{
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid var(--secundary-color);
}


/**NAV END**/

/**LOGIN AND REGISTRATION**/
.login_form input{
    border: 0px solid transparent;
    border-bottom: 1px solid #dddddd;
}

.remember_me{
    font-size: 0.75rem;
}

.login_form button{
    text-transform: uppercase;
    padding: 1.125rem 2.25rem;
    border: 2px solid #7a1036;
    color: #7a1036;
    font-family: roboto_bold;
}

.login_form button:hover{
    background-color: #7a1036;
    color: #ffffff;
}

.login_form a{
    color: #777777;
    opacity: 0.5;
}

#register h3{
    font-size: 24px;
}

.login_part_text{
    height: 25rem;
    padding: 1.875rem;
}

.login_part_text h2{
    font-size: 1.5rem;
    padding-top: 4.6875rem;
}

.login_part_text button{
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 0.875rem;
    margin-top: 1.75rem;
    color: #ffffff;
    padding: 1.25rem 0.75rem;
    font-family: roboto_bold;
}

.login_part_text button:hover{
    background-color: #ffffff ;
    color: #7a1036;
}

#registration button{
    padding: 1.125rem 2.25rem ;
    text-transform: uppercase;
    padding: 1.125rem 2.25rem;
    border: 2px solid #7a1036;
    color: #7a1036;
    font-family: roboto_bold;
}

#registration button:hover{
    color: #ffffff;
}

.registration_form{
    padding: 10px 10px 60px 10px;
}
/**END LOGIN AND REGISTRATION**/

/**START MY_ACCOUNT**/

.save-button{
    padding: 1.125rem 2.25rem ;
    text-transform: uppercase;
    padding: 0.625rem 1.25rem;
    border: 1px solid #7a1036;
    color: #7a1036;
    font-family: roboto_bold;
}

.save-button:hover{
    padding: 1.125rem 2.25rem ;
    border: 1px solid #7a1036;
    padding: 0.625rem 1.25rem;
    color: #ffffff;
    background-color: #7a1036;
}

.active_collapse{
    background-color:  var(--secundary-color) !important;
}

.active_collapse_text{
    color: #ffffff !important;
}

.card-header{
    background: #ffffff;
}

.card-header:hover{
    background: var(--secundary-color);
}

.collapse_btn{
    height: 100%;
    width: 100%;
    color: #2980b9;
    font-family: roboto_bold;
}

.collapse_btn:hover{
    text-decoration: none;
    color: #ffffff;
}

/**END MY_ACCOUNT**/


/**SHOP**/
.popular-items, .single-popular-items .popular-img{
    overflow: hidden;
    border-bottom: 0.1875rem solid #FF53C2;
    margin-bottom: 1.1875rem;
    position: relative;
    background: white;
}

.popular-items .single-popular-items .popular-img img {
    width: 100%;
}


.popular-items, .single-popular-items, .popular-items, .popular-caption h3 a{
    color: #444444;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

/**END SHOP**/

/**PRODUCT DETAILS**/
.product_details h1{
    color: #FF53C2 !important;
}

.img-gallery{
    height: 50px;
}


/**PRODUCT DETAILS**/

/**CART PAGE**/

/**END CART PAGE**/


/******MEDIA QUERIES*******/

/**PHONES**/

@media (max-width: 414px) {
    #search_bar{
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    /**SHOP**/
    .latest-padding{
        padding-top: 3.75rem ;
        padding-bottom: 0.3125rem ;
    }
    /**END SHOP**/
}


/**IPAD**/
@media (min-width: 768px) {
    /**NAV**/

    /**END NAV**/

    /**LOGIN AND REGISTRATION**/
    .login_form{
       padding: 7.8125rem 3.125rem ;
    }


    #register{
        padding-top: 3.125rem;
    }

    /**END LOGIN AND REGISTRATION**/
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    /**SHOP**/
    .latest-padding{
        padding-top: 3.75rem;
        padding-bottom: 0.3125rem;
    }
    /**END SHOP**/
}

@media (max-width: 1023px) {
    #search_bar{
        margin-left: 48px;
    }
}


/**IPAD PRO**/
@media (min-width: 1024px) {

    footer{
        height: 100px;
    }

    /*NAV*/
    .dropdown-menu{
        background:#fdfefe;
        border-width: 0px 2px 2px 2px;
        border-style: solid;
        border-color: var(--main-color);
        width: 156px;
    }

    .sub-dropdown-menu{
        border-width: 2px 2px 2px 0px;
        border-style: solid;
        border-color: var(--main-color);

    }

    .dropdown-toggle .dropdown-item{
        background:none;
    }

    .dropdown-item:hover{
        background-color: #fcc7d1;
    }
    /*END NAV*/

    .latest-padding{
        padding-top: 11.875rem;
        padding-bottom: 8.4375rem;
    }

    /*PRODUCT_DETAILS*/
    .product-details-image{
        height: 600px;
    }
    /*END PRODUCT_DETAILS*/
}

@media (min-width: 1700px) {
    footer{
        height: 150px;
    }

    /**CLASSES**/
    .pt-6{
        padding-top: 5rem;
    }
    /**END CLASSES**/

    /**HEADER**/
    #top_nav_items{
        padding-right: 11rem;
    }
    /**END HEADER**/

    /**SHOP**/
    .latest-padding{
        padding-top: 11.875rem;
        padding-bottom: 8.4375rem;
    }
    /**END SHOP**/

}





