/*FONTS*/

@font-face {
    font-family: roboto_thin;
    src: url("../admin/fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: roboto_thin_italic;
    src: url("../admin/fonts/Roboto-ThinItalic.ttf");
}

@font-face {
    font-family: roboto_light;
    src: url("../admin/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: roboto_light_italic;
    src: url("../admin/fonts/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: roboto_regular;
    src: url("../admin/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto_regular_italic;
    src: url("../admin/fonts/Roboto-Italic.ttf");
}


@font-face {
    font-family: roboto_bold;
    src: url("../admin/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: roboto_bold_italic;
    src: url("../admin/fonts/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: roboto_black;
    src: url("../admin/fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: roboto_black_italic;
    src: url("../admin/fonts/Roboto-BlackItalic.ttf");
}



p{
    font-family: roboto_regular;
}

a{
    font-family: roboto_bold;
}

h1{
    font-family: roboto_black;
    background:linear-gradient(160deg, #FF53C2, #ff7ebe);
    color: transparent !important;
    -webkit-background-clip: text;
}

*{
    padding: 0;
    margin: 0;
}


body{
    background: linear-gradient(to bottom, #ffffff, #f5d0e2);
}

img{
    vertical-align: middle;
    border-style: none;
}

footer{
    height: 200px;
}

/**CLASSES**/
.mb-50{
    margin-bottom: 3.125rem;
}


/**END CLASSES**/

/**HEADER**/

.navbar-brand{
    font-family: roboto_black;
    background:linear-gradient(#FF53C2, #ff7ebe);
    color: transparent !important;
    -webkit-background-clip: text;
}


.navbar a{
    color: #FF53C2;
}

.navbar a:hover{
    color: #ff7ebe;
}

.navbar img{
    height: 40px;
}

nav i{
    color: #FF53C2;
}

nav i:hover{
    color: #ff7ebe;
}
/**NAV END**/

/**LOGIN AND REGISTRATION**/
.login_form input{
    border: 0px solid transparent;
    border-bottom: 1px solid #dddddd;
}

.remember_me{
    font-size: 0.75rem;
}

.login_form button{
    text-transform: uppercase;
    padding: 1.125rem 2.25rem;
    border: 2px solid #7a1036;
    color: #7a1036;
    font-family: roboto_bold;
}

.login_form button:hover{
    background-color: #7a1036;
    color: #ffffff;
}

.login_form a{
    color: #777777;
    opacity: 0.5;
}

#register h3{
    font-size: 24px;
}

.login_part_text{
    height: 25rem;
    padding: 1.875rem;
}

.login_part_text h2{
    font-size: 1.5rem;
    padding-top: 4.6875rem;
}

.login_part_text button{
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 0.875rem;
    margin-top: 1.75rem;
    color: #ffffff;
    padding: 1.25rem 0.75rem;
    font-family: roboto_bold;
}

.login_part_text button:hover{
    background-color: #ffffff ;
    color: #7a1036;
}

#registration button{
    padding: 1.125rem 2.25rem ;
    text-transform: uppercase;
    padding: 1.125rem 2.25rem;
    border: 2px solid #7a1036;
    color: #7a1036;
    font-family: roboto_bold;
}

#registration button:hover{
    color: #ffffff;
}

.registration_form{
    padding: 10px 10px 60px 10px;
}
/**END LOGIN AND REGISTRATION**/

/**START MY_ACCOUNT**/

.save-button{
    padding: 1.125rem 2.25rem ;
    text-transform: uppercase;
    padding: 0.625rem 1.25rem;
    border: 1px solid #7a1036;
    color: #7a1036;
    font-family: roboto_bold;
}

.save-button:hover{
    padding: 1.125rem 2.25rem ;
    border: 1px solid #7a1036;
    padding: 0.625rem 1.25rem;
    color: #ffffff;
    background-color: #7a1036;
}

.active_collapse{
    background-color:  #94D5F5 !important;
}

.active_collapse_text{
    color: #ffffff !important;
}

.card-header{
    background: #f5f5f5 ;
}



.collapse_btn{
    color: #2980b9;
    font-family: roboto_bold;
}

.collapse_btn:hover{
    text-decoration: none;
    color: #94D5F5;
}

/**END MY_ACCOUNT**/


/**SHOP**/
.popular-items, .single-popular-items .popular-img{
    overflow: hidden;
    border-bottom: 0.1875rem solid #FF53C2;
    margin-bottom: 1.1875rem;
    position: relative;
    background: white;
}

.popular-items .single-popular-items .popular-img img {
    width: 100%;
}


.popular-items, .single-popular-items, .popular-items, .popular-caption h3 a{
    color: #444444;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

/**END SHOP**/

/**PRODUCT DETAILS**/
.product_details h1{
    color: #FF53C2 !important;
}
/**PRODUCT DETAILS**/

/**CART PAGE**/

/**END CART PAGE**/


/******MEDIA QUERIES*******/

/**PHONES**/

@media (max-width: 414px) {
    #search_bar{
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    /**SHOP**/
    .latest-padding{
        padding-top: 3.75rem ;
        padding-bottom: 0.3125rem ;
    }
    /**END SHOP**/
}


/**IPAD**/
@media (min-width: 768px) {
    /**NAV**/

    /**END NAV**/

    /**LOGIN AND REGISTRATION**/
    .login_form{
       padding: 7.8125rem 3.125rem ;
    }


    #register{
        padding-top: 3.125rem;
    }

    /**END LOGIN AND REGISTRATION**/
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    /**SHOP**/
    .latest-padding{
        padding-top: 3.75rem;
        padding-bottom: 0.3125rem;
    }
    /**END SHOP**/
}

@media (max-width: 1023px) {
    #search_bar{
        margin-left: 48px;
    }
}


/**IPAD PRO**/
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .latest-padding{
        padding-top: 11.875rem;
        padding-bottom: 8.4375rem;
    }
}

/**PC**/
@media only screen and (max-width: 1600px) and (min-width: 1200px) {
    /**CLASSES**/
    .pt-6{
        padding-top: 5rem;
    }
    /**END CLASSES**/

    /**SHOP**/
    .latest-padding{
        padding-top: 11.875rem;
        padding-bottom: 8.4375rem;
    }
    /**END SHOP**/
}



@media (min-width: 1700px) {
    /**CLASSES**/
    .pt-6{
        padding-top: 5rem;
    }
    /**END CLASSES**/

    /**HEADER**/
    #top_nav_items{
        padding-right: 11rem;
    }
    /**END HEADER**/

    /**SHOP**/
    .latest-padding{
        padding-top: 11.875rem;
        padding-bottom: 8.4375rem;
    }
    /**END SHOP**/

}





