/**CLASSES**/



/*BEGIN NAVBAR*/
#navbar-main > div > a > img{
    height: 5rem;
}

#navbarSupportedContent > ul.navbar-nav.align-items-center.ml-auto.ml-md-0 > li > div{
    background: #ffffff;
    border: 1px solid #000000;
}

/*END NAVBAR*/

/*BEGIN SIDEBAR*/
#sidenav-collapse-main > i{
    height: 10rem;
}
/*END SIDEBAR*/

/*BEGIN MAIN BODY OPTIONS*/
body > div > div.header.bg-gradient-primary.py-7.py-lg-8.pt-lg-9 > div.container > div > div > div > a > img{
    height: 18rem;
}
/*END MAIN BODY OPTIONS*/

/*BEGIN CATEGORIES PAGE*/

#collapseOne > div > a:nth-child(1),
#collapseOne > div > a:nth-child(2),
#collapseOne > div > a:nth-child(3),
#collapseTwo > div > a:nth-child(1),
#collapseTwo > div > a:nth-child(2){
    color: rgba(0,0,0,.5);
}


.accordion_header{
    background: #235361;
    color: #ffffff
}

.accordion_header:hover{
    color: #ff2200;
    text-decoration: none;
}

.collapse_level_one{
    background: #BD3C24;
    color: #ffffff;
}


.collapse_level_one:hover{
    color: #235361;
    text-decoration: none;
}

.collapse_level_two{
    background: #1D4A33;
    color: #ffffff;
}

.collapse_level_two :hover{
    color: #000000;
    text-decoration: none;
}

.super_category_buttons{
    display: flex;
}

.add_category_form{
    display: none;
}

.add_sub_category_form{
    display: none;
}


.active_collapse{
    background-color:  #235361 !important;
}

.inactive_collapse_text{
    color: #000000;
}

.inactive_collapse_text:hover{
    color: #000000;
    text-decoration: none;
}

.active_collapse_text{
    color: #ffffff !important;
}

.collapse_btn{
    color: #2980b9;
}

.collapse_btn:hover{
    text-decoration: none;
    color: #94D5F5;
}

/*END CATEGORIES PAGE*/

/*ADD CATEGORIES PAGE*/
.gallery img{
    width: 25%;
    padding: 10px;
}

#placeholder_img{
    width: 25%;
    padding: 10px;
}


/*END ADD CATEGORIES PAGE*/



/******MEDIA QUERIES*******/


/**IPAD**/
@media (min-width: 768px) {
    /*BEGIN DROPDOWNS*/
    .dropdown-item{
        padding-left: 4rem !important;
    }

    .dropdown-menu{
        background: transparent;
        box-shadow: none;
        border: none;
    }
    /*END DROPDOWNS*/

    /*START PREVIEW IMAGE*/
    .preview-img{
        height: 200px;
    }
    /*END PREVIEW IMAGE*/
}

@media only screen and (max-width: 991px) and (min-width: 768px) {

}

@media (max-width: 1023px) {

}


/**IPAD PRO**/
@media (min-width: 1024px) {
    /*START PREVIEW IMAGE*/
    .preview-img{
        height: 150px;
    }
    /*END PREVIEW IMAGE*/

}

@media (min-width: 1700px) {


}


