#collapseOne > div > a:nth-child(1),
#collapseOne > div > a:nth-child(2),
#collapseOne > div > a:nth-child(3),
#collapseTwo > div > a:nth-child(1),
#collapseTwo > div > a:nth-child(2){
    color: rgba(0,0,0,.5);
}

#sidenav-collapse-main > i{
    height: 10rem;
}

#navbar-main > div > a > img{
    height: 5rem;
}

body > div > div.header.bg-gradient-primary.py-7.py-lg-8.pt-lg-9 > div.container > div > div > div > a > img{
    height: 18rem;
}

#navbarSupportedContent > ul.navbar-nav.align-items-center.ml-auto.ml-md-0 > li > div{
    background: #ffffff;
    border: 1px solid #000000;
}


select option{
    padding-left: 20px;
}

.accordion_header{
    background: #235361;
    color: #ffffff;
}

.accordion_header:hover{
    color: #ff2200;
    text-decoration: none;
}

.collapse_level_one{
    background: #BD3C24;
    color: #ffffff;
}


.collapse_level_one:hover{
    color: #235361;
    text-decoration: none;
}

.collapse_level_two{
    background: #1D4A33;
    color: #ffffff;
}

.collapse_level_two :hover{
    color: #000000;
    text-decoration: none;
}

.super_category_buttons{
    display: flex;
}

.add_category_form{
    display: none;
}

.add_sub_category_form{
    display: none;
}


@media (min-width: 768px) {
    .dropdown-item{
        padding-left: 4rem !important;
    }

    .dropdown-menu{
        background: transparent;
        box-shadow: none;
        border: none;
    }

}

